#indexes a:hover{
    color : red ;
    border-color: red;
}
.boite h3:hover  {
    color : #f8a100 ;
}
.extra button:hover h2{
    color: #f8a100;
}
@keyframes fade {
    from{opacity: 1;}
    to {opacity: 0.1;}
}

