
:root{
  --light-gray : rgb(44, 44, 44) ;
  --light-gray-transparent : rgba(44, 44, 44, 0.738);
  --gray-blue : rgb(25, 26, 28) ;
  --dark-blue : #191a1c;
  --deep-blue : #030917;
  --accent-black : #111111;
  --accent-purple : purple ;
  --accent-orange : #ff6740;
  --accent-red : red;
  --accent-dark-red : rgb(129, 0, 0);
  --accent-green : rgb(0, 163, 0);
  --accent-white : #fff;
  --light-white : rgb(210, 210, 210);
  --full-black : #000;
  --light-black :rgb(20, 20, 20);
  --medium-black : #181818;
  --black-carbon : #0e0e0e;
  --dark-gray : #2c2c2c;
  --status-blue : #00c9f5;
  --status-green : #04d000;
}
body{
  max-width: 100vw;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  /* z-index: 3; */
  z-index: -3;
    overflow-x: hidden;
    /* background: linear-gradient(to bottom, #101010 0% 50%, #000 ); */
    /* background: #000; */
    /* background: rgb(25, 26, 28); */
    /* background: var(--black-carbon); */
    background: linear-gradient(to top, var(--full-black), var(--black-carbon));
    /* background: radial-gradient(ellipse at bottom, #000e1e, var(--black-carbon)); */


    /* background: #111213 ;
    background: #111213 ;
    background-image: conic-gradient(
        from 0deg at 50% 50%,
        blue, purple, purple, blue
    );
    background-blend-mode: multiply ; */

    position: relative;
    color: #f8a100;
   
  
}
a{
  text-decoration: none !important;
}
body::-webkit-scrollbar{display: none;}

.flex-column{
  display: flex; flex-direction: column; width: 100%;
}

.flex{
  display: flex; align-items: center;
}

.center {
  justify-content: center; align-items: center;
}

.absolute-center{
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.icon{
  display: flex; align-items: center;  justify-content: center; gap: 1em;
}

.pop-up{
  position: fixed !important; overflow-x: hidden; 
  z-index: 6;
  font-family: 'Poppins', sans-serif;
  color: var(--light-white);
}.pop-up::-webkit-scrollbar{
  display: none; visibility: hidden;
}
.pop-up h2{background: transparent;}

.hide-scrollbar::-webkit-scrollbar{
  display: none; visibility: hidden; width: 0;
}


::-webkit-scrollbar{
  display: none;
}
.hover-color{
  color: var(--accent-white);
  cursor: pointer;
  transition: all 200ms;
}
.hover-color:hover{
  color : var(--accent-purple);
}

.hover-border{
  border: 1px solid transparent;
  transition: all 200ms;
}
.hover-border:hover{
  border: 1px solid var(--accent-white)
}

.hover-scale{
  cursor: pointer;
  scale: 0.95;
}
.hover-scale:hover{
  scale: 1;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Open+Sans:wght@500&family=Poppins:wght@700&display=swap');