

@keyframes get-in {
    from { transform: scaleX(0); }
    to {transform: scaleX(1);}
}
@keyframes slide-down{
    from {height: 0;}
    to {height: 100vh;}
}

#burger{
    position : fixed;
    z-index : 6;
    top : 5%;
    left : 5% ;
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid var(--accent-white);
    /* border: 2px solid transparent; */
    transition: all 200ms;
}

#burger:hover{
    border: 2px solid var(--accent-purple);
}

.bar{
    width: 30px;
    height: 2px;
    background: var(--accent-white);
    border-radius: 2px;
    transform-origin: center;
}

#up-menu{
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 5;
    width: 100vw;
    /* animation: slide-down 500ms ease-in 0ms both; */
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 22);
    justify-content: center;
    align-items: center;

    font-size: clamp(15px, 2vmin, 17px);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 1em;  
    color: var(--accent-white);
}
#up-menu h1{
    color: white;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}

.range-input{
    width: 95%;
    margin: 0 auto;
    background: var(--medium-black);
    padding: 0.3em 0.3em;
    border-radius: 0.2em;
}