---
import MainLayout from "../layouts/main_layout.astro";
import Loader_numero_uno from "../components/self-contained/load_test";



---
<style>
    div{
        position: fixed;
        top: 50%;
        left: 50%;
        translate : -50% -50%
    }
</style>
<MainLayout>
    <div>
        <h1>This page is not ready yet</h1>
    </div>    
    <!-- <Loader_numero_uno /> -->
</MainLayout>