#head{
    display: grid;
    /* margin-top: 76px; */
    color: white;
    /* overflow-y: hidden; */
    left: 0px;
    width: 100%;
    gap : 0px ;
    /* top: 1.5vh; */
    top: 0;
    z-index: 0;
    /* poster version 1 */
    position: absolute;
    grid-template-columns: auto auto auto auto auto;
  
    }#head::-webkit-scrollbar{
      display: none; width: 0px;
    }

    .poster{
      /* scroll-snap-align: start; */
      /* animation: fade_in 2200ms ease-out 0s 1 both; */
    /* height : 89vh ; */
    height : 100vh ;
    /* border-radius: 30px; */
    border-radius: 0.3em;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-repeat: no-repeat;
    /* background-size: 100% auto; */
    background-size: auto 100%;
  
    /* put animation to 500 for old */
    background-position: center;
    -moz-transition: width 500ms ease-in-out;
    -o-transition: width 500ms ease-in-out;
    transition: width 500ms ease-in-out;
  }
  .info{
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 2rem;
    width: 50%;
    height: 100%;
    animation: visi 500ms linear 500ms 1 both;
    margin-bottom: 20vh;
    
  }.info h3{
    font-size: 0.8rem;
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;  
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px; 
  }
  .watch{   
    background : var(--accent-orange);
    box-shadow: 0 0 40px -8px var(--accent-orange);
   color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 0.65em;    
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 0.2em;
    padding: 5px 30px;
    text-align: center;
    transition: all 200ms;
    -webkit-transition: -webkit-transform 200ms;
    margin-left: 3rem ;
    margin-bottom: 1rem;
    cursor: pointer;
  }
  .watch:hover{
    scale: 1.02;
  }

  #all_onglets{
    /* margin-top: 101vh; */
    margin-top: 75vh;
    margin-bottom: 10rem;
    z-index: 1;
  }