---
import './styling/index.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href='https://fonts.googleapis.com/css?family=Finger Paint' rel='stylesheet'>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<script src="https://kit.fontawesome.com/1882ba5dd5.js" crossorigin="anonymous"></script>
		<title>buushido</title>
	</head>
	<body>
		<slot>if nothing is here</slot>
	</body>
</html>
