---
import Navi from "../components/navbar/navbar";
import Navbar_v2 from "../components/navbar_v2/navbar_v2.jsx";


---
<!-- <link rel="preload stylesheet" href="/styles/general/navbar/main.css" as="style" type="text/css">
<link rel="preload stylesheet" href="/styles/general/navbar/big_only.css" as="style" type="text/css" media="screen and (min-width : 800px)">
<link rel="preload stylesheet" href="/styles/general/navbar/small.css" as="style" type="text/css" media="screen and (max-width : 800px)">
<link rel="preload stylesheet" href="/styles/general/navbar/load.css" as="style" type="text/css"> -->
<nav>
    <!-- <Navi client:only="react"/> -->
    <Navbar_v2 client:only/>
</nav>