#navbar a:hover{
    color : #f8a100; }
    #dropdown-content a:hover{    
        color: purple;
    }
    #dropdown-content a{
        margin: 25px 5px;
        padding: 14px 50px;
    
        color: rgb(246, 229, 250);
    }
    
    #voir_tout:hover{
        color : purple ;
    }
